html {
  text-align: center;
}
body {
  background: linear-gradient(
    90deg,
    rgb(12, 35, 39) 33%,
    rgb(27, 88, 100) 57%,
    rgb(33, 126, 144) 100%
  );

  overflow: hidden;
}
img {
  width: 80px;
}
.matched {
  visibility: hidden;
}

@font-face {
  font-family: BungeeSpice-Regular;
  src: url(../Font/BungeeSpice-Regular.ttf);
}
.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
}
.box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(19, 166, 195);
  background: linear-gradient(
    90deg,
    rgba(19, 166, 195, 1) 32%,
    rgba(15, 147, 172, 1) 57%,
    rgba(6, 96, 115, 1) 100%
  );
  cursor: url(../Img/trident-2.png), auto;
  margin: 20px;
  padding: 20px;
  width: 30px;
  font-size: xx-large;
  height: 30px;
}

button {
  color: white;
  background: rgb(19, 166, 195);
  background: linear-gradient(
    90deg,
    rgba(19, 166, 195, 1) 32%,
    rgba(15, 147, 172, 1) 57%,
    rgba(6, 96, 115, 1) 100%
  );
  border-radius: 20px;
  border: 0;
  font-size: large;
  font-family: "Nova Cut", cursive;
}
#timer {
  margin-right: 225px;
  font-size: 20px;
  color: white;
  font-family: "Nova Cut", cursive;
}
header {
  background: linear-gradient(
    90deg,
    rgb(12, 35, 39) 33%,
    rgb(27, 88, 100) 57%,
    rgb(33, 126, 144) 100%
  );

  margin-top: 0;
  border: none;
  height: 190px;
}

h1,
.title {
  font-family: "Nova Cut", cursive;
  margin-top: 0;
  color: white;
  padding-top: 20px;
  font-family: ;
}
.hidden {
  display: none;
}
#score {
  text-align: center;
  position: absolute;
  top: 193px;
  right: 65px;
  font-size: 24px;
  color: white;
  font-size: 24px;
  font-family: "Nova Cut", cursive;
    
    margin-left: 10px;
}

.win-message,
.lose-message {
  font-family: BungeeSpice-Regular, Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .header {
    position: relative;
    text-align: center;
    background: linear-gradient(
      90deg,
      rgb(12, 35, 39) 33%,
      rgb(27, 88, 100) 57%,
      rgb(33, 126, 144) 100%
    );
    margin-top: 0;
    border: none;
    height: 190px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  .new-game button {
    font-size: large;
    font-family: "Nova Cut", cursive;
  }
  
  .score-timer {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  

  #timer {
    font-size: 20px;
    color: white;
    margin-right: 10px;
  }
  footer {
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
    color: white;
  }
  
  @media only screen and (min-width: 600px) {
    .container {
      position: static;
      transform: none;
      justify-content: space-between;
    }
    
    #score {
      position: absolute;
      top: 180px;
      right: 480px;
      font-size: 24px;
      color: white;
    }
  
    #timer {
      position: absolute;
      top: 185px;
      right: 775px;
      font-size: 20px;
      color: white;
    }
  }
  
  button.new-game {
    font-size: large;
    font-family: "Nova Cut", cursive;
  }

