html {
  text-align: center;
  
}
body {
  background: linear-gradient(
    90deg,
    rgb(12, 35, 39) 33%,
    rgb(27, 88, 100) 57%,
    rgb(33, 126, 144) 100%
  );

  overflow: hidden;
}
img {
  width: 80px;
}
@font-face {
  font-family: BungeeSpice-Regular;
  src: url(/Assets/Font/BungeeSpice-Regular.ttf);
}
.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
}
.box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(19, 166, 195);
  background: linear-gradient(
    90deg,
    rgba(19, 166, 195, 1) 32%,
    rgba(15, 147, 172, 1) 57%,
    rgba(6, 96, 115, 1) 100%
  );
  cursor:url(/Assets/Img/trident-2.png),auto ;
  margin: 20px;
  padding: 20px;
  width: 30px;
  font-size: xx-large;
  height: 30px;
}

button {
  color: white;
  background: rgb(19, 166, 195);
  background: linear-gradient(
    90deg,
    rgba(19, 166, 195, 1) 32%,
    rgba(15, 147, 172, 1) 57%,
    rgba(6, 96, 115, 1) 100%
  );
  border-radius: 20px;
  border: 0;
  font-size: large;
  font-family: "Nova Cut", cursive;
}

header {
  background: linear-gradient(
    90deg,
    rgb(12, 35, 39) 33%,
    rgb(27, 88, 100) 57%,
    rgb(33, 126, 144) 100%
  );

  margin-top: 0;
  border: none;
  height: 190px;
}

h1,
.title {
  font-family: "Nova Cut", cursive;
  margin-top: 0;
  color: white;
  padding-top: 20px;
  font-family: ;
}
.hidden {
  display: none;
}
.win-message {
  font-family: BungeeSpice-Regular,Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
footer {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  color: white;
}
